@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap");
/*

PRIMARY

A primary color is the color displayed most frequently across your app's screens and components.
Your primary color can be used to make a color theme for your app, including dark and light primary color variants.

SECONDARY
A secondary color provides more ways to accent and distinguish your product. Having a secondary color is 
optional, and should be applied sparingly to accent select parts of your UI.
* Floating action buttons
* Selection controls, like sliders and switches
* Highlighting selected text
* Progress bars
* Links and headlines

Dark and light secondary variants
Just like the primary color, your secondary color can have dark and light variants. A color
theme can use your primary color, secondary color, and dark and light variants of each color.

Surface, background, and error colors typically don’t represent brand:

* Surface colors affect surfaces of components, such as cards, sheets, and menus.
* The background color appears behind scrollable content. The baseline background and surface color is #FFFFFF.
* Error color indicates errors in components, such as invalid text in a text field. The baseline error color is #B00020.

Läs mer här när du väljer
https://material.io/design/color/the-color-system.html#color-theme-creation

*/
@media only screen and (min-width: 768px) {
  body {
    width: 200px;
  }
  body #header {
    width: 100%;
  }
  body #header form {
    width: 100vw;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #header form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background: blue;
  }
  body #header form label h2 {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
  }
  body #header form label select {
    font-size: 1rem;
    background-color: #eca400;
    width: 100%;
    text-align: center;
    border: 1px solid #001d4a;
  }
  body #header form label option {
    font-size: 1rem;
  }
  body #header form input {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 1rem;
    background-color: #eaf8bf;
    color: #000000;
  }
  body form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body form label h2 {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
  }
  body form label select {
    font-size: 1rem;
    background-color: #eca400;
    width: 100%;
    text-align: center;
    border: 1px solid #001d4a;
  }
  body form label option {
    font-size: 1rem;
  }
  body form input {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin: 1rem;
    background-color: #eaf8bf;
    color: #000000;
  }
}

/*# sourceMappingURL=medium.css.map */
